:root{
  --bg: #F8F7FF;
  --text: #1C1E2E;
  --btn-bg: #646CFF;
  --container-bg: #FFFFFF;
}
:root.dark{
  --bg: #1C1E2E;
  --text: #cfcfcf;
  --btn-bg: #e0e0e0;
  --container-bg: #292C41;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background: var(--bg);
}
.container{
  background-color: var(--container-bg);
  color: var(--text)
}
button {
  background-color: var(--btn-bg);
  color: var(--btn-text)
}
.customIntro{
  backdrop-filter: blur(2px);
}


@media (prefers-color-scheme: dark) {

}

@tailwind base;
@tailwind components;
@tailwind utilities;